In [1]:
import pandas as pd 
import sqlalchemy as db
import pymysql

In [2]:
# CONVERSION OF TEXT FILE TO CSV: TO DO FOR EACH .txt FILE
# read_file = pd.read_csv('LibMems.txt')
# read_file.to_csv('LibMems.csv', index=None)

In [16]:
# CLEANING UP CSV FILES TO HANDLE MULTIPLE AUTHORS 
# books = pd.read_csv('LibBooks.csv')
# books.rename(columns={"Authors": "Author 1", 
#                       "Unnamed: 3": "Author 2", 
#                       "Unnamed: 4": "Author 3"},
#             inplace=True)
#
# REMOVAL OF AUTHORS FROM BOOKS.CSV
# books.drop(columns = ['Author 1', 'Author 2', 'Author 3'], inplace = True)

In [8]:
# CREATE SEPARATE CSV FILE FOR AUTHORS DATA
# authors = books[['Accession Number','Author 1', 'Author 2', 'Author 3']]
# authors.to_csv('BookAuthors.csv', index = False)

In [11]:
# CONNECTING TO THE MYSQL DATABASE
USERNAME = "root"
PASSWORD = "" # your password
HOST = "localhost"
PORT = 3306
DB = "Library"

# First argument is the URL of the SQL DB, has a standard form of dialect[+driver]://user:password@host/dbname[?key=value..] 
engine = db.create_engine('mysql+pymysql://{0}:{1}@{2}:{3}/{4}'
                       .format(USERNAME, PASSWORD, HOST, PORT, DB))

# Create a connection so that SQL statements can be invoked. 
# Object returned is a Cursor Result which provides methods for fetching rows.
connection = engine.connect()

# Can use t = db.text("SQL CODE CHUNK")
# result = connection.execute(t)